/* Small Devices */
@media only screen and (max-width: 767px) {

    .navbar-default {

        background-color: #fff !important;
        border-color: #e6e6e6;
    }
    .about-iphone img {
        width: 100%;
    }
    .logo {
      padding-top: 0px;
    }
    .purchase-now, .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .header-btns {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .header-text h1 {

      padding-top: 20px;

    }
 .header-phone {
        display: none;
    }
    .header-text, .header-btns {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {

}
